{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <ul class="list-group" style="width:100%">
                <li class="list-group-item list-group-item-success">
                    <center><b>Login</b></center>
                </li>
                <form action="" method="post" class="form-horizontal" role="form" autocomplete="off">
                    {% csrf_token %}
                    <li class="list-group-item">
                        <center>
                            <label class="control-label" for="waktu mulai">Username: </label>
                            <input type="text" class="form-control" name = "username" required="true">
                        </center>
                    </li>
                    <li class="list-group-item">
                        <center>
                            <label class="control-label" for="waktu selesai">Password: </label>
                            <input type="password" class="form-control" name="password" required="true">
                        </center>
                    </li>

                    <li class="list-group-item list-group-item-info">
                        <center><button type="submit" class="btn btn-default">Submit</button></center>
                        <div id='new' class="btn btn-light float-right"><a href="registrasi">New User? Sign Up</a></div>
                    </li>
                </form>
            </ul>
        </div>
    </div>
{% endblock %}
