{% extends "base.html" %}
{% block title %}Registrasi{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <ul class="list-group" style="width:100%">
                <li class="list-group-item list-group-item-success"><center>Registrasi Form</center></li>
                <form id="registration" action="" method="post" class="form-horizontal" role="form" autocomplete="off">
                    {% csrf_token %}
                    <li class="list-group-item">
                        <center>
                            <label class="control-label" id="roleLabel" for="Role">Role: </label>
                            <select form="registration" class="form-control" id="role" name="role" onchange="changeForm()" required="True">
                                <option value="Mahasiswa">Mahasiswa</option>
                                <option value="Dosen">Dosen</option>
                                <option value="Staf">Staf</option>
                            </select>
                        </center>
                    </li>
                    <li class="list-group-item">
                        <center>
                            <label class="control-label" id="userLabel" for="Username">Username: </label>
                            <input type="text" class="form-control" id="username" name="username" required="True">
                        </center>
                    </li>
                    <li class="list-group-item">
                        <center>
                            <label class="control-label" id="passLabel" for="Password">Password: </label>
                            <input type="password" class="form-control" id="password" name="password" required="True">
                        </center>
                    </li>
                    <li class="list-group-item">
                        <center>
                            <label class="control-label" id="idLabel" for="Nomor Identitas">Nomor Pokok Mahasiswa: </label>
                            <input type="text" id="idNumber" class="form-control" name="noIdentitas" required="True">
                        </center>
                    </li>
                    <li class="list-group-item">
                        <center>
                            <label class="control-label" id="nameLabel" for="Nama Lengkap">Nama Lengkap: </label>
                            <input type="text" id="name" class="form-control" name="nama" required="True">
                        </center>
                    </li>
                    <li class="list-group-item">
                        <center>
                            <label class="control-label" id="birthPlaceLabel" for="Tempat Lahir">Tempat Lahir: </label>
                            <input type="text" id="birthPlace" class="form-control" name="tempatLahir" required="True">
                        </center>
                    </li>
                    <li class="list-group-item">
                        <center>
                            <label class="control-label" id="birthDateLabel" for="Tanggal Lahir">Tanggal Lahir: </label>
                            <input type="date" id="birthDate" class="form-control" name="tanggalLahir" required="True">
                        </center>
                    </li>
                    <li class="list-group-item">
                        <center>
                            <label class="control-label" id="emailLabel" for="Email">Email: </label>
                            <input type="email" id="email" class="form-control" name="email" required="True">
                        </center>
                    </li>
                    <li class="list-group-item">
                        <center>
                            <label class="control-label" id="phoneLabel" for="Nomor HP">Nomor <i>Handphone</i>: </label>
                            <input type="text" id="phone" class="form-control" name="noHp" required="True">
                        </center>
                    </li>
                    <li class="list-group-item" id="specificField">
                        <center>
                            <label class="control-label" id="statusLabel" for="Status Kemahasiswaan">Status Kemahasiswaan: </label>
                            <select form="registration" class="form-control" id="status" name="statusKemahasiswaan" required="True">
                                <option value="Aktif">Aktif</option>
                                <option value="Kosong">Kosong</option>
                                <option value="Cuti">Cuti</option>
                                <option value="Lulus">Lulus</option>
                                <option value="Drop Out">Drop Out</option>
                            </select>
                        </center>
                    </li>
                    <li class="list-group-item">
                        <center>
                            <label class="control-label" id="univLabel" for="ID Universitas">ID Universitas: </label>
                            <input type="text" id="univ" class="form-control" name="idUniversitas" required="True">
                        </center>
                    </li>
                    <li class="list-group-item list-group-item-info">
                        <center><button type="submit" id="submit" class="btn btn-default">Submit</button></center>
                    </li>
                </form>
            </ul>
        </div>
    </div>
{% endblock %}
{% block scripts_page %}
    <script type="text/javascript">
        var changeForm = function() {
            role = $("#role").val();
            console.log(role);
            if (role === "Mahasiswa") {
                $("#idLabel").text("Nomor Pokok Mahasiswa:");
                html = '<center>' +
                    '<label class="control-label" id="statusLabel" for="Status Kemahasiswaan">Status Kemahasiswaan: </label>' +
                    '<select form="registration" class="form-control" id="status" name="statusKemahasiswaan" required="True">' +
                    '<option value="Aktif">Aktif</option>' +
                    '<option value="Kosong">Kosong</option>' +
                    '<option value="Cuti">Cuti</option>' +
                    '<option value="Lulus">Lulus</option>' +
                    '<option value="Drop Out">Drop Out</option>' +
                    '</select>' +
                    '</center>';
                $("#specificField").html(html);
            } else if (role === "Dosen") {
                $("#idLabel").text("Nomor Induk Kepegawaian (Dosen):");
                html = '<center>' +
                        '<label class="control-label" id="majorLabel" for="Jurusan">Jurusan: </label>' +
                        '<input type="text" id="major" class="form-control" name="jurusan" required="True">' +
                        '</center>';
                $("#specificField").html(html);
            } else if (role === "Staf") {
                $("#idLabel").text("Nomor Induk Kepegawaian (Staf):");
                html = '<center>' +
                        '<label class="control-label" id="positionLabel" for="Posisi">Posisi: </label>' +
                        '<input type="text" id="position" class="form-control" name="posisi" required="True">' +
                        '</center>';
                $("#specificField").html(html);
            }
        }
    </script>
{% endblock %}