{% extends "base.html" %}
{% block title %}Buat Polling Berita{% endblock %}
{% block content %}
    <div class="container">
		<div class="row">
            <ul class="list-group" style="width:100%">
                <li class="list-group-item list-group-item-success"><center>Polling Form</center></li>
                <form action="" method="post" class="form-horizontal">
                    {% csrf_token %}
                    <li class="list-group-item">
                        <center>
                            <label class="control-label" for="url berita">Url Berita: </label>
                            <input type="text" class="form-control" name="url_berita" required="true" maxlength="50">
                        </center>
                    </li>
                    <li class="list-group-item">
                        <center>
                            <label class="control-label" for="waktu mulai">Waktu Mulai: </label>
                            <input type="datetime-local" class="form-control" name="waktu_mulai" required="true">
                        </center>
                    </li>
                    <li class="list-group-item">
                        <center>
                            <label class="control-label" for="waktu selesai">Waktu Selesai: </label>
                            <input type="datetime-local" class="form-control" name="waktu_selesai" required="true">
                        </center>
                    </li>
                    <li class="list-group-item">
                        <center>
                            <label class="control-label" for="pertanyaan">Pertanyaan Seputar Polling: (pisahkan dengan ;)</label>
                            <input type="text" class="form-control" name="pertanyaan" required="true">
                        </center>
                    </li>
                    <li class="list-group-item list-group-item-info">
                        <center><button type="submit" class="btn btn-default">Submit</button></center>
                    </li>
                </form>
            </ul>
        </div>
    </div>
{% endblock %}

{% block scripts_page %}
    <script type="text/javascript">
        {% if tambah_polling_berita %}
            alert('{{ tambah_polling_berita }}');
        {% endif %}
    </script>
{% endblock %}
