{% extends "base.html" %}
{% block title %}Polling{% endblock %}
{% block content %}
    <div class="container">
		<div class="row">
            <ul class="list-group" style="width:100%">
                <li class="list-group-item list-group-item-success"><center>Polling</center></li>
                <a href="{% url 'polling:tambah_polling_berita' %}"><li class="list-group-item"><center>Tambah Polling Berita</center></li></a>
                <a href="{% url 'polling:tambah_polling_biasa' %}"><li class="list-group-item"><center>Tambah Polling Biasa</center></li></a>
            </ul>
		</div>
    </div>
{% endblock %}
