{% load staticfiles %}
<!DOCTYPE html>
<html lang=en>
	<head>
		<meta charset=UTF-8>
		<meta name=viewport content="width=device-width, initial-scale=1.0">
		<meta name=viewport content="width=device-width, initial-scale=1">
		<meta http-equiv=X-UA-Compatible content="IE=edge">
		<meta name="author" content="Kelompok 3 Basis Data Kelas A Genap 2017/2018">
		{% block meta %}{% endblock %}

		{% block stylescript %}
        <link rel=stylesheet href="{% static 'css/bootstrap-4.0.0.min.css' %}">
        <link rel=stylesheet href="{% static 'css/bootstrap-grid-4.0.0.min.css' %}">
        <link rel=stylesheet href="{% static 'css/bootstrap-reboot-4.0.0.min.css' %}">
		{% endblock %}
		<link rel=stylesheet href="{% static 'css/base.css' %}">
        {% block stylescript_app %}{% endblock %}
        {% block stylescript_page %}{% endblock %}

		<title>{% block title %}Selamat Datang di Biru Merah News Corporation!{% endblock %} - BMNC</title>
		<style>{% block style %}{% endblock %}</style>
</head>
<body>
	<div class="main-container">
		<header>
			{% block header %}{% include "partials/header.html" %}{% endblock %}
		</header>
		<content>
			<div class="content-out">
				{% for message in messages %}
				<div class="alert alert-{message.tags}} alert-dismissible" role="alert" id="django-messages">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close" style="margin-right: 15px;">
						<span aria-hidden="true">&times;</span>
					</button>
					{{message}}
				</div>
				{% endfor %}
				{% block content %}{% endblock %}
			</div>
		</content>
		<footer>
			{% block footer %}{% include "partials/footer.html" %}{% endblock %}
		</footer>
	</div>
</body>
{% block scripts %}
	<script type=application/javascript src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
	<script type=application/javascript src="{% static 'js/popper.min.js' %}"></script>
	<script type=application/javascript src="{% static 'js/bootstrap-4.0.0.bundle.min.js' %}"></script>
{% endblock %}
{% block scripts_app %}{% endblock %}
{% block scripts_page %}{% endblock %}
</html>